@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrains Mono Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrains Mono Bold.ttf");
  font-weight: 700;
}

body {
  color: #1b1b1b;
  background-color: #1b1b1b;
  padding-bottom: 40px;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  line-height: 24px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 50vw;
  overflow: hidden;
}

#banner {
  position: relative;
  width: 100vw;
  z-index: -1;
}

main {
  display: grid;
  gap: 40px;
  grid-template-columns: auto 1fr;
  padding: 40px;
  background-color: #f2f3f4;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #1b1b1b;
}

nav {
  display: grid;
  gap: 40px;
  position: sticky;
  top: 40px;
  margin-bottom: auto;
  max-width: 300px;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p:has(+ p) {
  margin-bottom: 20px;
}

p:has(+ h2),
p:has(+ img) {
  margin-bottom: 40px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

code {
  color: #f2f3f4;
  background-color: #1b1b1b;
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 40px;
}

:is(ul, ol):has(+ p) {
  margin-bottom: 20px;
}

table,
tr,
th,
td {
  border: 2px solid #1b1b1b;
}

table {
  margin-bottom: 40px;
}

tr,
th,
td {
  padding: 10px;
}

th {
  text-align: left;
}

.info {
  padding: 10px;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
}

.warning {
  text-align: center;
  margin: 0 auto 40px;
  max-width: 450px;
}

.warning p {
  margin-bottom: 0;
}

.warning strong {
  font-size: 35px;
  font-weight: bold;
  line-height: 48px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f3f4;
  background-color: #1b1b1b;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button p {
  margin-bottom: 0;
}

.icon,
.image,
.small-image {
  float: right;
  margin: 0 0 20px 20px;
  border-radius: 5px;
}

.icon {
  max-width: 100px;
}

.image {
  max-width: 400px;
  clear: both;
}

.small-image {
  max-width: 200px;
}

.euclid {
  color: darkorange;
}

.safe {
  color: darkgreen;
}

.keter {
  color: darkred;
}

.explained {
  list-style-type: circle;
}

@media (orientation: portrait) {
  #banner {
    scale: 2;
  }

  main {
    grid-template-columns: auto;
    padding: 20px;
  }

  nav {
    position: static;
    max-width: 100%;
  }

  .image {
    max-width: 100%;
    float: none;
    margin: 0 0 40px;
  }

  .small-image {
    max-width: 150px;
  }
}
