@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrains Mono Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("JetBrains Mono Bold.ttf");
  font-weight: 700;
}

body {
  color: #1b1b1b;
  background-color: #1b1b1b;
  padding-bottom: 40px;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 50vw;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100vw;
  z-index: -1;
}

.content {
  display: grid;
  gap: 40px;
  grid-template-columns: auto 1fr;
  padding: 40px;
  background-color: #f2f3f4;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #1b1b1b;
}

.sidebar {
  position: sticky;
  top: 40px;
  margin-bottom: auto;
  max-width: 300px;
}

.info {
  padding: 10px;
  margin-bottom: 40px;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
}

.info:last-child {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f3f4;
  background-color: #1b1b1b;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.warning {
  margin: 0 auto 40px;
  width: 500px;
}

.list {
  margin: 0;
  padding-left: 20px;
}

.ordered-list {
  margin: 0;
  padding-left: 40px;
  list-style-type: decimal;
}

.euclid-item {
  color: darkorange;
}

.safe-item {
  color: darkgreen;
}

.keter-item {
  color: darkred;
}

.explained-item {
  list-style-type: circle;
}

.link {
  color: navy;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.centered-text {
  text-align: center;
  margin: 0;
}

.heading {
  margin: 0 0 10px;
  font-weight: 700;
}

.text {
  margin: 0 0 40px;
}

.italic {
  margin: 0 0 40px;
  font-style: italic;
}

.removed {
  color: #f2f3f4;
  background-color: #1b1b1b;
  border-radius: 5px;
}

.icon,
.image,
.small-image {
  border-radius: 5px;
  float: right;
}

.icon {
  width: 100px;
  margin: 0 0 10px 10px;
}

.image {
  width: 400px;
  margin: 0 0 40px 40px;
  clear: both;
}

.small-image {
  width: 200px;
  margin: 0 0 40px 40px;
}

table,
tr,
th,
td {
  border: 2px solid #1b1b1b;
}

table {
  border-collapse: collapse;
  margin-bottom: 40px;
}

tr,
th,
td {
  padding: 10px;
}

th {
  text-align: left;
}